.item {
  border-radius: 20px;
  margin: 20px;
  min-height: 150px;
  padding: 10px 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item a {
  text-decoration: none;
}
.poster {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item .author-bar {
  position: relative;
}
.item .poster-name {
  font-weight: bold;
}
.item .time {
  font-size: 14px;
  color: var(--darker-gray);
  cursor: pointer;
}
.item .time:hover {
  text-decoration: underline;
}
.item .detail-time {
  position: absolute;
  top: 100%;
  left: -50%;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  padding: 5px 2px;
  white-space: nowrap;
}
.item .poster-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.item .edit {
  margin-left: auto;
  position: relative;
}
.item-photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item-photo img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
.item .heart {
  position: absolute;
  top: 30%;
}
.item .heart img {
  width: 100px;
  height: 100px;
}
.item .item-bottom {
  width: 500px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
/* .item .item-bottom div {
  margin: 5px 0;
} */
.item .like {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item .like span {
  font-weight: bold;
}
.item .like img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.item .text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item .text .poster-name {
  font-weight: bold;
  color: black;
}
.item .text .poster-text {
  color: var(--darker-gray);
}
.item .message {
  display: flex;
  gap: 10px;
  align-items: center;
}
.item .message-input {
  width: 50%;
  border-style: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--darker-gray);
  padding: 5px;
}
.item .send-comment {
  font-size: 24px;
  cursor: pointer;
}
.item .send-comment:hover {
  color: var(--primary-color-darker);
}
.item .loading {
  font-size: 24px;
  animation: loading 3s linear infinite;
  color: var(--primary-color-darker);
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.item .comment {
  display: flex;
  gap: 10px;
  align-items: center;
}
.item .comment .poster-name {
  font-weight: bold;
}
.item .comment .poster-text {
  color: var(--darker-gray);
}
.item .checkAllComments {
  color: var(--darker-gray);
  text-decoration: underline;
  cursor: pointer;
}
