.albumAndFriend {
  margin: 20px;
  min-height: 600px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.albumAndFriend .title {
  width: 500px;
  display: flex;
  /* justify-content: center; */
}
.albumAndFriend .title span {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--darker-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: solid var(--primary-color);
}
.albumAndFriend .title span:hover {
  background-color: var(--primary-color);
}
.albumAndFriend .title .click {
  background-color: var(--primary-color);
}
.albumAndFriend .photo {
  width: 500px;
  min-height: 500px;
  border: 0.5px solid var(--primary-color);
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}
.albumAndFriend .photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
