.albumAndFriend {
  margin: 20px;
  min-height: 600px;
}
.albumAndFriend .title {
  width: 500px;
  display: flex;
}
.albumAndFriend .title span {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--darker-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: solid var(--primary-color);
}
.albumAndFriend .title span:hover {
  background-color: var(--primary-color);
}
.albumAndFriend .title .click {
  background-color: var(--primary-color);
}
.albumAndFriend .photo,
.albumAndFriend .friend {
  width: 500px;
  min-height: 500px;
  border: 0.5px solid var(--primary-color);
  flex-wrap: wrap;
}
.albumAndFriend .photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.albumAndFriend .friend {
  display: flex;
}
.albumAndFriend .friend-item {
  width: 120px;
  border: 1px solid var(--light-gray);
  display: flex;
}
.albumAndFriend .friend-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.albumAndFriend .friend-item .name {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darker-gray);
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .albumAndFriend {
    margin: 20px 10px;
  }
  .albumAndFriend .post,
  .albumAndFriend .item {
    margin-left: 10px;
  }
  .albumAndFriend .title,
  .albumAndFriend .photo,
  .albumAndFriend .friend {
    width: 250px;
  }
}
@media (max-width: 900px) {
  .albumAndFriend {
    display: none;
  }
}
