.chatRoom {
  background-color: #ecf5ff;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatRoom .container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
}

.chatRoom .sidebar {
  flex: 1;
  background-color: #ffd2d2;
  position: relative;
}

.chatRoom .search {
  border-bottom: 1px solid gray;
}

.chatRoom .chats {
  overflow-y: scroll;
  height: 80%;
}

.chatRoom .searchForm {
  padding: 10px;
}

.chatRoom .searchForm input {
  background-color: transparent;
  border: none;
  color: var(--darker-gray);
  outline: none;
}

.sidebar .chat-navbar {
  display: flex;
  align-items: center;
  background-color: #ff9797;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
}

.sidebar .chat-navbar .chat-logo {
  color: var(--darker-gray);
  font-weight: bold;
}

.sidebar .chat-navbar .user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar .chat-navbar .user span {
  color: var(--darker-gray);
  font-weight: bold;
}
.sidebar .chat-navbar .user img {
  background-color: #ddddf7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar .chat-navbar .user button {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.userChat:hover {
  background-color: #ff9797;
}

.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userChat .userChatInfo span {
  font-size: 18px;
  font-weight: 500;
  color: var(--darker-gray);
}
.userChat .userChatInfo p {
  font-size: 14px;
  color: var(--gray);
}
.userChat .unread {
  border-radius: 50%;
  background-color: #ff2d2d;
  color: white;
  margin-left: auto;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat {
  flex: 2;
}

.chat .chatInfo {
  height: 50px;
  background-color: #ffb5b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.chat .chatInfo span {
  font-weight: bold;
  color: var(--darker-gray);
}

.chat .chatIcons {
  display: flex;
  gap: 10px;
}

.chat .chatIcons img {
  height: 24px;
  cursor: pointer;
}

.messages {
  background-color: var(--background-color);
  padding: 10px;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.messages .message {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.messages .messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.messages .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messages .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messages .messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
  color: var(--darker-gray);
}

.messages .messageContent img {
  width: 200px;
}

.owner {
  flex-direction: row-reverse;
}

.owner .messageContent {
  align-items: flex-end;
  /* flex-direction: row-reverse; */
}
.owner .messageContent p {
  background-color: #ffd2d2;
  color: var(--darker-gray);
  border-radius: 10px 0px 10px 10px;
}

.input {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  color: #2f2d52;
  font-size: 18px;
}

.input input::placeholder {
  color: lightgray;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.send .attach,
.send .image {
  font-size: 24px;
  cursor: pointer;
  color: var(--darker-gray);
}

.send button {
  border: none;
  padding: 10px 15px;
  color: var(--darker-gray);
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}
.readContent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.readContent2 {
  flex-direction: column;
  justify-content: flex-end;
}
.readContent div,
.readContent2 div {
  color: var(--gray);
  font-size: 14px;
}
