* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC";
  font-style: normal;
  margin: 0;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
:root {
  --background-color: #ffecec;
  --primary-color: #ffd2d2;
  --primary-color-darker: #ff7575;
  --dark-pink: #ff5151;
  --darker-gray: #555;
  --gray: #6c6c6c;
  --light-gray: #f0f0f0;
  --light-gray-opacity: rgba(240, 240, 240, 0.5);
}
