* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC";
  font-style: normal;
  margin: 0;
  overflow-x: hidden;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
:root {
  --background-color: #ffecec;
  --primary-color: #ffd2d2;
  --primary-color-darker: #ff7575;
  --dark-pink: #ff5151;
  --darker-gray: #555;
  --gray: #6c6c6c;
  --light-gray: #f0f0f0;
  --light-gray-opacity: rgba(240, 240, 240, 0.5);
}
/* 網頁捲軸【寬度】 */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-button {
  background: var(--primary-color);
  height: 5px;
}

/* 網頁捲軸【背景】顏色 */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* 網頁捲軸【把手】顏色 */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-darker);
  border-radius: 20px;
}

/* 網頁捲軸【滑過時】把手的顏色 */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
}
