.home .profile .photo-box {
  position: relative;
  display: flex;
  justify-content: center;
}
.home .profile .user-photo {
  margin: 20px 0 10px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px var(--primary-color-darker);
}
.home .profile .user-photo-change-icon {
  border-radius: 50%;
  background-color: var(--light-gray-opacity);
  padding: 5px;
  position: absolute;
  top: 80%;
  left: 60%;
  font-size: 30px;
  cursor: pointer;
}
.home .profile .check-edit-photo {
  border-radius: 50%;
  background-color: var(--light-gray-opacity);
  padding: 5px;
  position: absolute;
  top: 80%;
  left: 60%;
  font-size: 30px;
  cursor: pointer;
}
.home .profile .cancel-edit-photo {
  border-radius: 50%;
  background-color: var(--light-gray-opacity);
  padding: 5px;
  position: absolute;
  top: 80%;
  left: 70%;
  font-size: 30px;
  cursor: pointer;
}
.home .profile .user-photo-change-icon:hover,
.home .profile .check-edit-photo:hover,
.home .profile .cancel-edit-photo:hover {
  color: var(--primary-color-darker);
}
.home .profile .user-name {
  font-size: 20px;
  font-weight: bold;
}
.home .profile .user-name-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .profile .edit-name-input {
  font-size: 20px;
  font-weight: bold;
  max-width: 150px;
  border-radius: 5px;
}
.home .profile .pencil,
.home .check-edit-name,
.home .cancel-edit-name {
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
}
.home .profile .pencil:hover,
.home .check-edit-name:hover,
.home .cancel-edit-name:hover {
  color: var(--primary-color-darker);
}
